.body {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}

/*Header*/
.header{
    width: 100%;
    height: 100%;
    background: #fff url(../img/head_bg.jpg) no-repeat;
    background-position:right;
}

.brand>a{
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(96, 96, 110);
  font-weight: bold;
  line-height: 2.667;
}

.top-menu>li>a{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}